@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Hier kun je alle css plaatsen voor alle pagina's op de site*/

body {
    --Black : #0A0908;
    --Green : #22333b;
    --Blue : #3D405B;
    --White : #F5F5F5;
}

body {
    background-color: var(--Black);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, p, button, label, footer {
    color: var(--White);
}

iframe {
    border-radius: 10px;
    width: 100%;
}

/*Elk hoofdstuk heeft zijn eigen titel en subtitel, zo 
moet de gebruiker een flink tijdje scrollen om bij
de paginacontent te komen, wat ik persoonlijk cool vindt*/
#Title {
    font-size: 10rem;
    padding-bottom: 100vh;
}
#Subtitle {
    font-size: 5rem;
    padding-bottom: 100vh;
}

/*Alles voor de menubalk aan de bovenkant van elke pagina*/
#ChapterHeader {
    background-color: var(--Blue);
    text-align: center;
    position: sticky;
    top: 0;
    border-radius: 5px;
    z-index: 10000;
}
.ChapterLink {
    color: var(--White);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}
.ChapterLink:hover {
    text-decoration: underline;
}
.ChapterLink:visited {
    color: var(--Green);
}
/*Alles voor de Div aan de onderkant van elke pagina*/
#FooterDiv {
    background-color: var(--Blue);
    display: flex;
    justify-content: center;
}
#WaterMark {
    opacity: .7;
    font-size: 0.7rem;
    font-weight: bold;
    position: relative;
    top: 10px;
}
.ContactIcon {
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    width: 3rem;
    height: 3rem;
}
.ContactIcon:hover{
    opacity: 0.9;
}