/*Importeerd de "Inter" en "Poppins" fonts van google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Animaties voor de fade in van de website*/
@keyframes Fadein {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0%;
        opacity: 1;
    }
}

/*Als de body geen class heeft dan zijn de variablen zoals hieronder*/
body {
    
    --Text-Colour: #0a090c;
    --Background-Colour : #f0edee;
    --LightModeSignatureVisible : block;
    --DarkModeSignatureVisible : none;
    
}
/*Ander zijn ze als volgt, dit is zodat de dark theme goed werkt*/
body.DarkTheme {
    
    --Text-Colour: #f0edee;
    --Background-Colour : #0a090c;
    --LightModeSignatureVisible : none;
    --DarkModeSignatureVisible : block;

}

    
body {
    
    background-color: var(--Background-Colour);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 1)), url('https://picsum.photos/1920/1080');
    margin: 0px;

}
p, h1, h2, h3, h4, h5, button, a, footer {
    
    color: var(--Text-Colour);
    font-family: 'Poppins';

}
footer {
    
    font-size: 0.7rem;
    opacity: 0.5;

}
/*Container class zodat ik de knop in het midden krijg*/
.container {
    
    display: flex;
    justify-content: center;
    
}

#PageTitle {
    
    font-weight: 900;
    font-size: 7rem;
    text-align: center;

}
#FirstText {
    
    font-weight: 500;

}

#StartButton {
    
    background-color: #07393c;
    border-radius: 15px;
    transition-duration: 0.4s;
    width: 12rem;
    height: 4rem;
    font-size: 0.7rem;
    color: #E3DEDF;

}
#StartButton:hover {
    
    background-color: #2c666e;
    color:#f0edee;
    font-size: 1rem;
    width: 15rem;
    cursor: pointer;

}

#LightModeSignature {
    
    display: var(--LightModeSignatureVisible);

    
}
#DarkModeSignature {
    
    display: var(--DarkModeSignatureVisible);

}

#Greetings {
    
    font-style: italic;
    font-weight: 900;
    
}
#ThemeToggleButton {
    
    background-image: url(./Images/KleurThemaToggleLogo.svg);
    border-radius: 5px;
    border-width: 0px;
    
    position:absolute;
     top:0;
     right:0;

    width: 4rem;
    height: 4rem;
}

/*Hieronder staan de divs die gedurende 2 a 3 seconden in de site geladen*/
#FadeIn1 {
    opacity: 0;
    animation: Fadein 1s ease-in-out 0s 1 forwards ;
}
#FadeIn2 {
    opacity: 0;
    animation: Fadein 1s ease-in-out 0.5s 1 forwards ;
}
#FadeIn3 {
    opacity: 0;
    animation: Fadein 1s ease-in-out 1s 1 forwards ;
}