body {
    --Black : #0A0908;
    --Green : #22333b;
    --Blue : #3D405B;
    --White : #F5F5F5;
}

ul {
    color: var(--White);
}
a {
    color: var(--White);
    text-decoration: none;
}
a:visited {
    color: var(--Green);
}
a:hover {
    text-decoration: underline;
}
h3 {
    font-weight: bold;
    font-size: 2rem;
}