body {
    --Black : #0A0908;
    --Green : #22333b;
    --Blue : #3D405B;
    --White : #F5F5F5;
}

.JSCodeDiv {
    border-color: var(--White);
    background-color: #22333b;
    border-width: 1px;
    border-radius: 5px;
}

.black {
    background-color: var(--Black);
}


.white {
    background-color: var(--White);
}

#BlackWhiteChangerP, #BlackWhiteChangerButton {
    color : #EE4B2B;
}

#BlackWhiteChangerButton {
    border-radius: 5px;
}

#IncrementButton, #ReverseButton, #CalculateButton {
    background-color: var(--Blue);
}

input {
    background-color: var(--Blue);
    border-radius: 5px;
    border-width: 0px;
}